@import "compass";
@import "font-awesome.css";
@import "compass/reset";
@import "modular-scale";
@import "breakpoint";
@import "susy";
@import "toolkit";

// @import "grid";
// @import "colors";
// @import "typography";

// @import "PROTO";
// @import "PROTO-style";

@import url(http://fonts.googleapis.com/css?family=Luckiest+Guy);
@import url(http://fonts.googleapis.com/css?family=Buda:300);

body {
	font-size: 3em;
	height: 100%;
	overflow: hidden;
}

.monster {
	font-family: 'Luckiest Guy', sans-serif;
}

.smug {
	font-family: 'Buda', serif;
}


#stage {
	height: 80%;
	max-height: 80%;
	width: 80%;
	padding: 8%;
}

div.scene {
	position: absolute;
}

#barrage-1 {
	font-size: 2.5em;
}