doctype html
html(lang="en")
  head
    title Start your prototyping
    script(src='/bower/jquery.js')
    script(src='/bower/lodash.compat.js')
    script(src='/bower/TweenMax.js')
    script(src='/scripts/app.js')
    link(rel='stylesheet', href='/styles/app.css')

  body
    p Go forth and code. 