doctype html
html(lang="en")
  head
    title Me Monster by Brian Regan
    script(src='/bower/jquery.js')
    script(src='/bower/lodash.compat.js')
    script(src='/bower/TweenMax.js')
    script(src='/scripts/vendor/CSSPlugin.js')
    script(src='/bower/jquery.fittext.js')
    script(src='/scripts/app.js')
    link(rel='stylesheet', href='/styles/app.css')

  body
    button#play-button
      | Play
      | 
      i.fa.fa-play
    button#stop-button
      | Stop
      | 
      i.fa.fa-stop
    #title Brian Regan
    #stage
      #scene-1.scene
        #me-monster-1.monster M-Me myself brighter than I and then myself and mee meee
        #me-monster-2.monster I couldn’t tell this one about I because I was talking about myself, and then
        #me-1.monster ME
        //- #me-3.monster MEEEE
        #me-3.monster ME
        #me-4.monster ME
        #me-5.monster ME
        #me-6.monster ME
        #me-7.monster ME
        
        #beware Hi, my name is Me. duh.
      #scene-2.scene
        #nothing.monster That ain’t nothing.
        #waste-1.regan Ah.. Well, 
        #waste-2.regan didn’t mean to waste everybody’s time 
        #waste-3.regan telling my nothing story
        #waste-4.regan Here Let Marco Polo speak.
        #waste-5.regan He’s back with tales of adventure!
      #scene-3.scene
        #waiting.monster Yeah … as soon as.... 
        #yeah-1.monster Y-Y-Y-Yeah..
        #yeah-2.monster Okay yeah
        #you-me-1.monster you
        #you-me-2.monster ME!!
        #you-me-3.monster You
        #you-me-4.monster Me, you see the
        #you-me-5.monster difference??
        #you-me-6.monster You see?
        #you-me-7.monster You see that??
        #now.regan NOW I do!
        
      #scene-4.scene      
        #moon [graphic] Moon
        #zzzz Zzzzzzzzz [faint lorem ipsum text fading into…]
        
        #barrage-1.monster Yeah I’m a big traveler have my business all together my own global enterprise I gotta check on I drive in the Autobahn because I keep a fleet of sports cars over in Zurich I got this Swiss account I gotta go check on Mount Kilimanjaro expedition might have to cancel that you know ..runways in Aspen are a lot shorter the first time you go in there da da the pacific rim gonna try and take that over and da da da rah rah rah..global enterprise.
        #barrage-2.monster RAHRAHRAHARH
        #barrage-3.monster RAHRADAR
        #barrage-4.monster RAHRAHRAH
        #barrage-5.monster RAHRAHARAHAH
        #barrage-6.monster RAHHDAAH
        #barrage-7.monster RAAAAAAAAAA
      #scene-5.scene
        #moon-1.smug 
          | I walked on the 
          #moon-token moon.
        #moon-2.monster Well you have the floor, moonwalker.
        #moon-3.smug You know you mentioned driving on the Autobahn, that reminded me. 
        #moon-4.smug Once I was driving in the Sea of Tranquility….
        #moon-5.smug in my Lunar Rover.
        #moon-6.smug And I too was worried about our speed till I remembered, 
        #moon-7.smug Wait, we’re the only ones on the moon!

     